@import 'suneditor/dist/css/suneditor.min.css';

.sun-editor {
  height: 100%;
}
.sun-editor .se-container {
  height: 100%;
}
.sun-editor .se-wrapper {
  height: calc(100% - 94px - 16px);
}
.sun-editor .se-tooltip {
  min-width: unset;
  max-width: unset;
  min-height: unset;
  max-height: unset;
  & * {
    min-width: unset;
    max-width: unset;
    min-height: unset;
    max-height: unset;
  }
}
.sun-editor .se-submenu {
  min-width: unset;
  max-width: unset;
  min-height: unset;
  max-height: unset;
  & * {
    min-width: unset;
    max-width: unset;
    min-height: unset;
    max-height: unset;
  }
}
.se-video-container figure {
  position: relative; /* iframe의 절대 위치 기준점 */
}
.se-video-container iframe {
  position: absolute; /* 부모 요소(figure)에 맞춰 채우기 */
}

.react-flow .react-flow__edges {
  position: static !important;
}
.react-flow .react-flow__attribution {
  display: none !important;
}